@use '@angular/material' as mat;
$theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            density: (scale: 0,
            )));
@include mat.typography-hierarchy($theme);
@include mat.core();

html {
    @include mat.all-component-themes($theme);
}

body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.test-automated {
    padding-bottom: 80px;

    .cdk-overlay-backdrop {
        bottom: 100vh !important;
    }

    .cdk-overlay-backdrop::after {
        content: 'OVERLAY ACTIVE';
        background: lime;
    }
}