<mat-sidenav-container>
  <!--
    Place the end sidenav first to test the behavior where we manually change the DOM order.
  -->
  <mat-sidenav #endSidenav position="end" mode="push">
    End sidenav
    <button (click)="endSidenav.toggle()">Close</button>
  </mat-sidenav>

  <!--
    Only attempt to capture focus when automated, otherwise it makes the page jump around.
   -->
  <mat-sidenav #startSidenav opened [autoFocus]="isAutomated ? 'first-tabbable' : false">
    Start sidenav
    <button (click)="startSidenav.toggle()">Button for testing focus trapping</button>
  </mat-sidenav>
  Main content
  <button (click)="startSidenav.toggle()">Toggle start</button>
  <button (click)="endSidenav.toggle()">Toggle end</button>
</mat-sidenav-container>
