<mat-tab-group [selectedIndex]="1">
  <mat-tab label="Overview">
    <h3>The overview</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque assumenda doloribus, rerum
      temporibus fugit aliquid adipisci aliquam eaque sint voluptas dolore cumque voluptatibus quam
      quod. Quasi adipisci officia similique in?
    </p>
    <p>
      Deleniti neque placeat magnam, voluptatibus eligendi illo consectetur dolore minima dolorem
      nemo suscipit dolorum accusantium? Numquam officia culpa itaque qui repudiandae nulla,
      laboriosam nihil molestiae ad aut perferendis alias amet.
    </p>
    <p>
      Officia esse temporibus consequatur ipsa! Veritatis alias facere amet reiciendis sint impedit
      atque iste doloremque dolor? Ullam, aspernatur? Alias, fuga! At dolorum odio molestiae
      laudantium nihil alias inventore veritatis voluptatum.
    </p>
    <button mat-raised-button color="primary">See the overview</button>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>API docs</ng-template>
    <h3>The API docs</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facere quasi natus rerum
      quae, nisi, quis, voluptate assumenda necessitatibus labore illo. Illum ipsum consequatur,
      excepturi aspernatur odio veritatis sint perferendis!
    </p>
    <p>
      Dicta ex laborum repudiandae nesciunt. Ea asperiores quo totam velit! Aliquid cum laudantium
      officiis molestias, excepturi odio, autem magni dignissimos perspiciatis, amet qui! Dolorem
      molestiae similique necessitatibus cupiditate ipsa aspernatur?
    </p>
    <button mat-raised-button color="accent">See the API docs</button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>Examples</ng-template>
    <h3>The examples</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi animi saepe, optio sequi
      accusantium, eos perspiciatis reprehenderit, nobis exercitationem sunt ducimus molestiae
      laborum inventore itaque incidunt. Neque dolorum adipisci quidem.
    </p>
    <button mat-raised-button color="warn">See the examples</button>
  </mat-tab>
</mat-tab-group>
