<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
        <div><app-mat-form-field></app-mat-form-field></div>
        <br />
        <div><app-mat-autocomplete></app-mat-autocomplete></div>
        <br />
        <div><app-button></app-button></div>
        <br />
        <div><app-button2></app-button2></div>
        <br />
        <div><app-button3></app-button3></div>
        <br />
        <div><app-button4></app-button4></div>
        <br />
        <div><app-button5></app-button5></div>
        <br />
        <div><app-button6></app-button6></div>
        <br />
        <div><app-a></app-a></div>
        <br />
        <div><app-a2></app-a2></div>
        <br />
        <div><app-a3></app-a3></div>
        <br />
        <div><app-a4></app-a4></div>
        <br />
        <div><app-a5></app-a5></div>
        <br />
        <div><app-mat-button-toggle-group></app-mat-button-toggle-group></div>
        <br />
        <div><app-mat-button-toggle-group2></app-mat-button-toggle-group2></div>
        <br />
        <div><app-mat-button-toggle></app-mat-button-toggle></div>
        <br />
        <div><app-mat-card></app-mat-card></div>
        <br />
        <div><app-mat-card2></app-mat-card2></div>
        <br />
        <div><app-mat-checkbox></app-mat-checkbox></div>
        <br />
        <div><app-mat-checkbox2></app-mat-checkbox2></div>
        <br />
        <div><app-mat-checkbox3></app-mat-checkbox3></div>
        <br />
        <div><app-mat-checkbox4></app-mat-checkbox4></div>
        <br />
        <div><app-mat-checkbox5></app-mat-checkbox5></div>
        <br />
        <div><app-mat-chip-set></app-mat-chip-set></div>
        <br />
        <div><app-mat-chip-listbox></app-mat-chip-listbox></div>
        <br />
        <div><app-mat-form-field2></app-mat-form-field2></div>
        <br />
        <div><app-mat-form-field3></app-mat-form-field3></div>
        <br />
        <div><app-button7></app-button7></div>
        <br />
        <div><app-mat-grid-list></app-mat-grid-list></div>
        <br />
        <div><app-mat-icon></app-mat-icon></div>
        <br />
        <div><app-mat-form-field4></app-mat-form-field4></div>
        <br />
        <div><app-mat-form-field5></app-mat-form-field5></div>
        <br />
        <div><app-mat-form-field6></app-mat-form-field6></div>
        <br />
        <div><app-mat-form-field7></app-mat-form-field7></div>
        <br />
        <div><app-mat-form-field8></app-mat-form-field8></div>
        <br />
        <div><app-mat-form-field9></app-mat-form-field9></div>
        <br />
        <div><app-mat-form-field10></app-mat-form-field10></div>
        <br />
        <div><app-mat-form-field11></app-mat-form-field11></div>
        <br />
        <div><app-mat-form-field12></app-mat-form-field12></div>
        <br />
        <div><app-mat-form-field13></app-mat-form-field13></div>
        <br />
        <div><app-mat-form-field14></app-mat-form-field14></div>
        <br />
        <div><app-mat-form-field15></app-mat-form-field15></div>
        <br />
        <div><app-mat-list></app-mat-list></div>
        <br />
        <div><app-mat-nav-list></app-mat-nav-list></div>
        <br />
        <div><app-mat-action-list></app-mat-action-list></div>
        <br />
        <div><app-mat-selection-list></app-mat-selection-list></div>
        <br />
        <div><app-button8></app-button8></div>
        <br />
        <div><app-mat-progress-bar></app-mat-progress-bar></div>
        <br />
        <div><app-mat-progress-bar2></app-mat-progress-bar2></div>
        <br />
        <div><app-mat-progress-bar3></app-mat-progress-bar3></div>
        <br />
        <div><app-mat-progress-bar4></app-mat-progress-bar4></div>
        <br />
        <div><app-mat-progress-spinner></app-mat-progress-spinner></div>
        <br />
        <div><app-mat-spinner></app-mat-spinner></div>
        <br />
        <div><app-mat-progress-spinner2></app-mat-progress-spinner2></div>
        <br />
        <div><app-mat-spinner2></app-mat-spinner2></div>
        <br />
        <div><app-mat-radio-group></app-mat-radio-group></div>
        <br />
        <div><app-mat-radio-button></app-mat-radio-button></div>
        <br />
        <div><app-mat-radio-button2></app-mat-radio-button2></div>
        <br />
        <div><app-mat-radio-button3></app-mat-radio-button3></div>
        <br />
        <div><app-mat-radio-button4></app-mat-radio-button4></div>
        <br />
        <div><app-mat-form-field16></app-mat-form-field16></div>
        <br />
        <div><app-mat-sidenav-container></app-mat-sidenav-container></div>
        <br />
        <div><app-mat-slide-toggle></app-mat-slide-toggle></div>
        <br />
        <div><app-mat-slide-toggle2></app-mat-slide-toggle2></div>
        <br />
        <div><app-mat-slide-toggle3></app-mat-slide-toggle3></div>
        <br />
        <div><app-mat-slide-toggle4></app-mat-slide-toggle4></div>
        <br />
        <div><app-mat-slider></app-mat-slider></div>
        <br />
        <div><app-mat-slider2></app-mat-slider2></div>
        <br />
        <div><app-mat-slider3></app-mat-slider3></div>
        <br />
        <div><app-button9></app-button9></div>
        <br />
        <div><app-mat-tab-group></app-mat-tab-group></div>
        <br />
        <div><app-nav></app-nav></div>
        <br />
        <div><app-mat-tab-nav-panel></app-mat-tab-nav-panel></div>
        <br />
        <div><app-mat-paginator></app-mat-paginator></div>
        <br />
        <div><app-mat-toolbar></app-mat-toolbar></div>
        <br />
        <div><app-mat-toolbar2></app-mat-toolbar2></div>
        <br />
        <div><app-table></app-table></div>
        <br />
        <div><app-button10></app-button10></div>
        <br />
        <div><app-textarea></app-textarea></div>
        <br />
        <div><app-mat-expansion-panel></app-mat-expansion-panel></div>
        <br />
        <div><app-mat-table></app-mat-table></div>
        <br />
        <div><app-table2></app-table2></div>
        <br />
        <div><app-mat-selection-list2></app-mat-selection-list2></div>
        <br />
        <div><app-mat-stepper></app-mat-stepper></div>
        <br />
        <div><app-mat-stepper2></app-mat-stepper2></div>
        <br />
        <div><app-mat-stepper3></app-mat-stepper3></div>
        <br />
        <div><app-button11></app-button11></div>
        <br />
        <div><app-button12></app-button12></div>
        <br />
        <div><app-ul></app-ul></div>
        <br />
        <div><app-youtube-player></app-youtube-player></div>
        <br />
        <div><app-google-map></app-google-map></div>
      </div>
    </div>
  </div>
</main>

<router-outlet />