<google-map height="400px" width="750px" mapId="123" style="position: relative">
  <map-marker [position]="{lat: 24, lng: 12}"></map-marker>
  <map-advanced-marker [position]="{lat: 12, lng: 12}"></map-advanced-marker>
  <map-info-window>Hello</map-info-window>
  <map-polyline
    [options]="{
    path: [{lat: 25, lng: 26}, {lat: 26, lng: 27}, {lat: 30, lng: 34}],
    strokeColor: 'grey',
    strokeOpacity: 0.8
  }"
  ></map-polyline>
  <map-polygon
    [options]="{
    paths: [{lat: 20, lng: 21}, {lat: 22, lng: 23}, {lat: 24, lng: 25}],
    strokeColor: 'grey',
    strokeOpacity: 0.8
  }"
  ></map-polygon>
  <map-rectangle
    [options]="{
    bounds: {east: 30, north: 15, west: 10, south: -5},
    strokeColor: 'grey',
    strokeOpacity: 0.8
  }"
  ></map-rectangle>
  <map-circle
    [options]="{
    center: {lat: 19, lng: 20},
    radius: 500000,
    strokeColor: 'grey',
    strokeOpacity: 0.8
  }"
  ></map-circle>
  <map-ground-overlay
    url="https://angular.io/assets/images/logos/angular/angular.svg"
    [bounds]="{
      east: 30,
      north: 15,
      west: 10,
      south: -5
    }"
  ></map-ground-overlay>
  <map-kml-layer
    url="https://developers.google.com/maps/documentation/javascript/examples/kml/westcampus.kml"
  ></map-kml-layer>
  <map-traffic-layer></map-traffic-layer>
  <map-transit-layer></map-transit-layer>
  <map-bicycling-layer></map-bicycling-layer>
  <map-heatmap-layer
    [data]="[
      {lat: 37.782, lng: -122.447},
      {lat: 37.782, lng: -122.445},
      {lat: 37.782, lng: -122.443}
    ]"
  ></map-heatmap-layer>

  <map-marker-clusterer
    imagePath="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m"
  >
    <map-marker [position]="{lat: 24, lng: 12}"></map-marker>
    <map-marker [position]="{lat: 12, lng: 24}"></map-marker>
    <map-marker [position]="{lat: 12, lng: 12}"></map-marker>
  </map-marker-clusterer>
</google-map>
